.main-container{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: black;
  }
  
  .fixed-chat-button {
    color:#00FF66 !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 100px;
    height: 70px;
    font-size: 40px;
    border-color: #00FF66 !important;
  }

  
  .thick-outline {
    border-width: 2px !important; 
    
    ;
  }
  
  .messages-container {
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px; 
  }

  .top-padding{
    padding-top: 150px;
  }