:root {
  font-family: "monospace";
  line-height: 1.5;
  font-weight: 400;;
}

.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



hr {
  border-color: #00FF66;
  /* Correct property for border color */
  border-top-width: 2px;
  /* Width of the top border */
  border-top-style: solid;
  /* Makes the border solid */
}



.header-text {
  font-size: 64px;
  color: #00FF66;
}