.modal-content {
  background-color: black !important;
  color: #00FF66 !important;

  border-color: #00FF66 !important;
}


.modal-title{
  font-size: 46px !important;
}
.modal-header,
.modal-body,
.modal-footer {
  border: none !important;
}

.form-control {
  background-color: black !important;
  color: #00FF66 !important;
  border-color: #00FF66 !important;
  margin-top: 10px !important;
}

.form-control::placeholder {
  color: #00FF66 !important;
  opacity: 1;
}
.neon-green{
  border-color: #00FF66 !important;
  color: #00FF66 !important;
}