.simple-border-card {
    width: 18rem !important;
    height: 22rem !important;
    background-color: black !important;
    border: 2px solid #00FF66 !important;
    color: #00FF66 !important;
    position: relative; 
}

.time-stamp {
    color: #00FF66 !important;
    font-size: 8px !important;
}

.password-input{
    width: 200px !important;
    border: 1px solid #00FF66 !important;
    background-color: black !important;
    bottom: 5px;
    position: absolute;
  }
  


.decrypt-button {
    position: absolute; 
    bottom: 5px;
    right: 5px;
    width: 60px;
    height: 40px;
}

.scrollable-message-content {
    height: 12rem; 
    overflow-y: auto; 
    color: #FFB000; 
}

.custom-toast {
    background-color: black !important; 
    border: 1px solid red !important; 
  }
  
  .custom-toast-header {
    border-bottom: 1px solid red !important; 
  }
  
  .custom-toast-text {
    color: red !important; 
  }

